<div class="card" style="width: 20rem;">
  <div class="card-body">

    <h5 class="card-title">
      <%= @friend.first_name %> 
      <%= @friend.last_name %>
    </h5>

    <p class="card-text">
      <b>Email: </b> <%= @friend.email %> </br>
      <b>Phone: </b> <%= @friend.phone %> </br>
      <b>Instagram: </b> <%= @friend.instagram %>
    </p>

    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
    <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>

  </div>
</div>
